In [1]:
import pandas as pd
import numpy as np
import time

In [3]:
main_df = pd.read_csv("../datasets/viirs-preprocessed.csv")
main_df

,acq_date,latitude,longitude,acq_time,confidence,frp,daynight,type,brightness,province
0,2019-01-01,-3.864479,138.568008,406,n,2.46,D,0,326.60,Papua
1,2019-01-01,1.630213,101.261696,1830,n,2.30,N,0,321.92,Riau
2,2019-01-01,1.629081,101.268982,1830,n,3.04,N,0,350.75,Riau
3,2019-01-01,1.625111,101.272095,1830,n,5.69,N,0,346.94,Riau
4,2019-01-01,1.628514,101.272629,1830,n,3.04,N,0,332.90,Riau
...,...,...,...,...,...,...,...,...,...,...
617921,2022-07-31,-4.829379,105.204605,630,n,4.48,D,0,332.05,Lampung
617922,2022-07-31,-8.319736,114.095009,630,n,5.24,D,0,328.04,Jawa Timur
617923,2022-07-31,-4.829968,105.200813,630,n,6.42,D,0,334.77,Lampung
617924,2022-07-31,-7.694653,108.998291,630,n,5.02,D,0,340.09,Jawa Tengah
617925,2022-07-31,-8.348875,113.470207,1736,n,0.43,N,0,302.19,Jawa Timur

In [6]:
kalimantan = main_df.dropna(subset=['province'])
kalimantan = kalimantan[(kalimantan["province"].str.contains("Kalimantan") & (kalimantan["daynight"]=="D"))]
kalimantan

,acq_date,latitude,longitude,acq_time,confidence,frp,daynight,type,brightness,province
37,2019-01-01,-3.028788,115.165359,548,n,6.69,D,0,332.41,Kalimantan Selatan
38,2019-01-01,-3.029341,115.161713,548,n,5.98,D,0,333.66,Kalimantan Selatan
39,2019-01-01,0.609891,117.442627,548,n,7.03,D,0,337.29,Kalimantan Timur
195,2019-01-04,-2.687869,110.702072,636,n,4.12,D,0,329.35,Kalimantan Barat
203,2019-01-04,-2.687397,110.705025,636,l,4.12,D,0,367.00,Kalimantan Barat
...,...,...,...,...,...,...,...,...,...,...
617712,2022-07-30,1.032249,110.132759,512,l,29.93,D,0,356.01,Kalimantan Barat
617713,2022-07-30,1.029684,110.116692,512,n,13.77,D,0,326.09,Kalimantan Barat
617714,2022-07-30,1.030535,110.122017,512,n,13.77,D,0,334.55,Kalimantan Barat
617715,2022-07-30,1.025847,110.134293,512,l,29.93,D,0,356.40,Kalimantan Barat
617716,2022-07-30,1.039563,110.136940,512,n,17.47,D,0,354.58,Kalimantan Barat

In [7]:
kalimantan.to_json("../datasets/json/viirs-kalimantan.json", orient="records")